/* Estilos globales */
	
	body {
	  font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	}

	#app-footer {
	  margin-top: auto;
	  background-color: #333;
	  padding: 10px;
	}


    /* Estilos de la barra de navegación */
    nav {
      background-color: #333;
      color: #fff;
      padding: 16px;
      text-align: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 19px;
    }
	
	.search {
	  text-align: right;
	}
	
	.search-bar {
	  float: right;
	  text-align: center;
	}
		
	/* Estilos del menú desplegable */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
	
	.nav-link:hover {
	  background-color: #ddd;
	  color: #333; 
	}

    .dropdown-content a {
      color: #333;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Estilos lista */
    li{
	  margin: 0 10px;
      list-style: none;
	}

    /* Estilos de las cartas */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1800px;
      margin: 20px auto;
      text-align: center;
    }

    .card {
      width: 300px;
      margin: 20px;
      padding: 20px;
      height: auto;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;  
    }

    .card img {
      width: 100%;
      height: auto;
    }

    /* Estilos descripciones */
    .desc-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 70%;
      height: 80%;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .desc-card img {
      width: 80%;
      height: auto;
      margin: 0 1px;
    }

    .desc-img {
      display: flex;
      justify-content: center;      
    }

    .desc {
      text-align: center;
    }

    .desc p {     
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Estilos formulario */
    .form-container {
      width: 400px;
      padding: 50px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
	
    /* Estilos del footer */
    footer {
      background-color: #333;
      color: #fff;
      padding: 12px;
      text-align: center;
    }


    /*Script Subir */
    #btn-scroll-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    #top {
      position: absolute;
      top: 0;
    }